<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MegaPlayer</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <img class="logo" src="https://images.seeklogo.com/logo-png/29/1/mega-icon-logo-png_seeklogo-298478.png?v=1957175869054874584" alt="MegaPlayer Logo">
  <h1>MEGA PLAYER</h1>
  <form id="url-form">
    <input type="text" id="url" name="url" placeholder="Enter your Mega.nz link" required>
    <button type="submit">Done</button>
    <div class="buttons">
      <button id="copy-btn" type="button">Copy URL</button>
      <button id="player-btn" type="button">Go to Player</button>
    </div>
  </form>
  <p id="result"></p>
</body>
<script src="/scripts/main.js"></script>

</html>